.headersection-header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.headersection-header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  margin-bottom: 4vw;
}

.headersection-header-logo img {
  height: 9vw;
}

.headersection-header-logo h1 {
  color: #fff;
  font-size: 6vw;
  margin: 0;
}

.headersection-user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2vw;
}

.headersection-profile-image {
  width: 13.5vw;
  height: 13.5vw;
  border-radius: 50%;
  object-fit: cover;
}

.headersection-user-text {
  flex-grow: 1;
  margin-left: 4vw;
}

.headersection-user-name {
  font-size: 4.5vw;
  font-weight: 500;
  color: white;
  margin: 0;
}

.headersection-user-level {
  font-size: 3vw;
  color: white;
  margin: 0;
}

.headersection-settings-icon {
  font-size: 6vw;
  color: white;
  cursor: pointer;
}

.headersection-progress-card {
  background-color: white;
  border-radius: 5vw;
  padding: 2vw;
  padding-left: 6vw;
  box-shadow: 0px 2vw 3vw rgba(0, 0, 0, 0.2);
  margin-top: 2vw;
  width: 95%;
}

.headersection-progress-title {
  font-size: 3.5vw;
  font-weight: 600;
  color: #4C856D;
  margin: 0;
}

.headersection-progress-subtitle {
  font-size: 5vw;
  margin: 0;
  font-weight: bold;
}

.headersection-progress-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headersection-progress-icon {
  width: 6vw;
  height: 6vw;
}

.headersection-progress-percentage {
  font-size: 3.2vw;
  margin-left: 2vw;
  flex-grow: 1;
}

.headersection-chevron-icon {
  font-size: 6vw;
  color: #000;
}
