.collection-toggle-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* 왼쪽 정렬 */
    width: 23vw; /* 컨테이너의 너비를 필요에 따라 조정 */
    padding: 2vw;; /* 전체 컨테이너의 패딩 제거 */
    gap: 4vw; /* 버튼들 사이의 간격 */
    background-color: #fff;
}

.collection-toggle-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 1vw; /* 버튼의 패딩 조정 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw; /* 아이콘 크기 조정 */
    transition: all 0.3s ease;
}

.collection-toggle-button.active {
    color: #4C856D; /* 활성화된 버튼 색상 */
}

.collection-toggle-button:not(.active) {
    color: #C6D2CE; /* 비활성화된 버튼 색상 */
}

.collection-toggle-button:not(.active):hover {
    color: #9E9E9E; /* 호버 시 색상 */
}
