/* src/pages/HikingPage.css */
  .selected-location {
    text-align: left;
    margin-left: 5vw;
    margin-bottom: 2vw;
    margin-top: 10vw;
    font-weight: 200 !important;
    font-size: 3.9vw; /* 필요에 따라 크기를 조절하세요 */
  }
  