/* 공통 스타일 */
.phototip-photo-tip-page {
    display: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 5vw;
    background-color: #333;
    color: #fff;
    height: 100vh;
    box-sizing: border-box;
    justify-content: flex-start;
}

.phototip-title {
    font-size: 10svw;
    font-weight: 500;
    margin-bottom: 10vw;
    margin-top: 12vw;
}

/* 올바른 예시 스타일 */
.phototip-correct-example {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phototip-correct-image {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    object-fit: cover;
}

/* 잘못된 예시들 스타일 */
.phototip-wrong-examples {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5vw;
}

.phototip-wrong-example {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.phototip-wrong-image {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    object-fit: cover;
}

/* 올바른 예시 아이콘 스타일 */
.phototip-correct-icon {
    position: relative;
    top: -50vw; /* 아이콘의 위치 조정 */
    right: -38vw; /* 오른쪽 위치 */
    font-size: 15vw; /* 크기 */
}

/* 잘못된 예시 아이콘 스타일 */
.phototip-wrong-icon {
    position: relative;
    top: -20vw; /* 아이콘의 위치 조정 */
    right: -10vw; /* 오른쪽 위치 */
    font-size: 7vw; /* 크기 */
}

.phototip-check-icon {
    color: #4caf50;
}

.phototip-close-icon {
    color: #f44336;
}

.phototip-wrong-write{
    font-size: 4vw;
    font-weight: 100;
}

.phototip-continue-button {
    background-color: #4caf50;
    color: #fff;
    font-size: 5vw;
    font-weight: 600;
    padding: 2.5vw 4vw;
    border: none;
    border-radius: 5vw;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top: auto;
}

.phototip-continue-button:active {
    background-color: #388e3c;
}
