/* 전체 페이지 컨테이너 */
#settingspage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 헤더 컨테이너 */
#settingsheader-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2vw;
  background-color: #F1F1F1;
  margin-top: 5vw;
}

.settings-divider {
  height: 15vw; /* 원하는 간격을 설정하세요 */
  background-color: transparent; /* Divider는 그냥 간격을 주기 위한 요소이므로 투명하게 설정합니다 */
}