/* src/css/DataSection.css */
.data-section {
    background: url('../assets/dataimg.png') no-repeat center center/cover;
    color: white;
    padding: 50px 0;
    text-align: center;
    font-family: 'Pretendard Variable', sans-serif;
    font-weight: 500;
    position: relative;
    overflow: hidden;
  }
  
  .overlay-data {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent 100%, rgba(0, 0, 0, 1));
    z-index: 1;
  }
  .overlay-data2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent 100%, rgba(0, 0, 0, 1));
    z-index: 1;
  }
  
  .data-title {
    font-size: 2em;
    margin-bottom: 120px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    position: relative;
    z-index: 2; /* 타이틀이 최상단에 위치하도록 설정 */
  }
  
  .data-title.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .data-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    z-index: 2;
  }
  
  .data-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    z-index: 2;
  }
  
  .data-card {
    background: rgba(255, 255, 255, 0.9); /* 반투명 배경 */
    color: #333;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out, box-shadow 0.3s, transform 0.3s ease;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .data-card.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .data-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
  
  .data-card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .data-card-description {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
  }
  
  .data-card a {
    font-size: 1em;
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
  }
  
  .data-card a:hover {
    text-decoration: underline;
  }

  .gradient-section {
    height: 200px; /* 필요에 따라 높이를 조정하세요 */
    background: linear-gradient(to bottom, #1B1B1B, #000101);
    position: relative;
    z-index: 1;
  }

  .gradient-section2 {
    height: 100px; /* 필요에 따라 높이를 조정하세요 */
    background: linear-gradient(to bottom, #000101, #1B1B1B);
    position: relative;
    z-index: 1;
  }
  