/* src/css/TechSection.css */
.tech-section {
  padding: 100px 20px;
  background-color: #1b1b1b;
  text-align: center;
}

.tech-title {
  font-family: 'Pretendard Variable', sans-serif;
  font-size: 2em;
  color: white;
  margin-bottom: 10%;
}

.tech-details {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.tech-description {
  font-family: 'Pretendard Variable', sans-serif;
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.progress-bars {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.progress-bar {
  width: 80%;
  max-width: 600px;
  background-color: #ddd;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar-title {
  font-size: 1em;
  font-weight: bold;
  flex: 1;
}

.tech-subsection {
  margin-bottom: 50px;
}

.tech-subtitle {
  font-family: 'Pretendard Variable', sans-serif;
  font-size: 1.5em;
  font-weight:500;
  color: #FFD700;
  margin-bottom: 20px;
}

.tech-subsection ul {
  list-style-type: none;
  padding: 0;
}

.tech-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
}

.tech-item img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  border-radius: 50%;
}

.tech-item div {
  flex: 1;
}

.tech-item strong {
  display: block;
  font-family: 'Pretendard Variable', sans-serif;
  font-size: 1.2em;
  color: #000000;
  font-weight:500;
  margin-bottom: 5px;
}

.tech-item p {
  font-family: 'Pretendard Variable', sans-serif;
  font-size: 1em;
  color: #666;
  margin: 0;
}

@media (max-width: 768px) {
  .tech-section {
    padding: 50px 10px;
  }

  .tech-title {
    font-size: 2em;
  }

  .tech-description {
    font-size: 1em;
  }

  .tech-subtitle {
    font-size: 1.5em;
  }

  .tech-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .tech-item img {
    margin-bottom: 10px;
  }
}
