#analysissum-summary {
    background-color: #f5f5f5;
    padding: 5vw;
}

.analysissum-image-container {
    text-align: center;
    margin-bottom: 4vw;
}

.analysissum-main-image {
    width: 100%;
    max-height: 50%;
    object-fit: cover;
    border-radius: 2vw;

}

.analysissum-basic-info {
    background-color: #fff;
    padding: 3.2vw;
    border-radius: 2vw;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.1);
    margin-bottom: 4vw;
}

.analysissum-common-name {
    font-size: 4.8vw;
    margin-bottom: 1.6vw;
}

.analysissum-description {
    font-size: 4vw;
    color: #666;
}

.analysissum-korean-data {
    background-color: #fff;
    padding: 3.2vw;
    border-radius: 2vw;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.1);
}

.korean-data-box p {
    font-size: 4vw;
    color: #333;
    margin: 0.8vw 0;
}
