#analysissum-summary {
    padding: 4vw;
    font-family: Arial, sans-serif;
}

#analysissum-plant-item {
    background-color: #f9f9f9;
    border-radius: 2vw;
    padding: 3vw;
    margin-bottom: 4vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    word-wrap: break-word; /* 긴 텍스트를 잘라서 줄 바꿈 */
    overflow-x: auto; /* 내용이 잘리지 않고 스크롤 가능하도록 설정 */
}

#analysissum-plant-item h3,
#analysissum-plant-item p {
    margin: 1vw 0;
    line-height: 1.5;
}

#analysissum-plant-item img {
    max-width: 100%; /* 이미지가 영역을 넘지 않도록 설정 */
    height: auto;
    margin-top: 2vw;
    border-radius: 1vw;
}

#analysissum-images-title {
    margin-top: 2vw;
    font-size: 3.6vw;
}

#analysissum-title {
    text-align: center;
    margin-bottom: 6vw;
    font-size: 6vw;
    font-weight: bold;
}

#analysissum-no-data {
    text-align: center;
    font-size: 5vw;
    color: #999;
    margin-top: 10vw;
}

#analysissum-no-images {
    font-size: 4vw;
    color: #999;
    margin-top: 2vw;
}
