/* LocationSelector.css */
.locate-selector {
    margin-top: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding: 3vw;
  }
  
  .locate-select {
    padding: 2vw;
    font-size: 4vw;
    border-radius: 3vw;
    border: 1px solid #ccc;
    outline: none;
  }
  